# Build output
dist/
dist-ssr/
build/

# Don't ignore real source files by accident
!src/**/*.ts
!src/**/*.tsx

# Optional: ignore compiled JS if you're using `tsc` outside of build
*.js
*.jsx

# Node
node_modules/

# Logs
*.log

# Environment
.env

# Editor stuff
.vscode/*
.idea/
.DS_Store
